<div class="site-header">

  <div class="site-header__logo">
    {{ drupal_block('system_branding_block') }}
  </div>

  <div class="site-header__search">
    {% include '@julkaisut/partials/search.html.twig' %}
  </div>

  {{ page.header }}

  <div class="site-header__languages">
    {{ drupal_block('language_block:language_interface') }}
  </div>

  <div class="site-header__hamburger-button">
    <button
      class="site-hamburger-button"
      aria-label="{{ 'Open navigation'|t }}"
      aria-expanded="false"
      aria-controls="header"
    >
      <span aria-hidden="true"></span>
    </button>
  </div>
</div>

<nav class="site-navbar">
  {{ drupal_menu('main', 1, 0, TRUE) }}
</nav>

<nav class="site-mobile-languages">
  {{ mobile_language_menu }}
</nav>
