{#
/**
 * @file
 * Default theme implementation of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 *
 * @ingroup themeable
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}

{{ form['search'] }}

{% if form['field_year'] and form['field_year_1'] %}
  <div class="facets">
    <label class="hds-text-input__label">{{ 'Publication year'|t }}</label>
    <div class="facets__fields">
      {{ form['field_year']|with('#title_display', 'invisible') }}
      {{ form['field_year_1']|with('#title_display', 'invisible') }}
    </div>
  </div>
{% endif %}

{{ form|without('field_year', 'field_year_1', 'search') }}
