{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if groups %}
  {% for group in groups %}
    <div class="views-row {% if loop.index > rows_per_page %} display-none {% endif %}">
      {{ group.parent.content }}
    </div>
  {% endfor %}
  <ul{{ attributes }} id="load_more_ul">
    <li class="pager__item wp-block-button is-style-outline">
      <a class="wp-block-button__link" id="load_more_button" title="{{ 'Load more items'|t }}" rel="next">{{ 'Load more'|t }}</a>
    </li>
  </ul>
{% else %}
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{ row.content }}
    </div>
  {% endfor %}
{% endif %}

