{% extends '@julkaisut/node/node--teaser.html.twig' %}

{% block node %}
  <article{{attributes.addClass(classes, 'search-result') }} data-article-link-wrapper>
    {% block node__content_wrapper %}
      <div class="search-result__content">
        {% block node__title %}
          <h3{{ title_attributes.addClass('search-result__title') }}>
            <a href="{{ url }}" data-article-link>{{ label }}</a>
          </h3>
        {% endblock %}

        {% if node.book and node.book.depth == 1 %}
          <div class="search-result__date">
            {% block node__date parent() %}
          </div>

          {{ content|without('search_api_excerpt', 'field_image') }}
        {% else %}
          {% if content.search_api_excerpt is not empty %}
            <p>{{ content.search_api_excerpt }}</p>
          {% else %}
            {{ content|without('search_api_excerpt', 'field_image') }}
          {% endif %}
        {% endif %}


        {% if elements['#children'] %}
          <div class="search-result__children">
          {% for item in elements['#children'] %}
            <div class="search-result__child">
            {{ item.content }}
            </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endblock %}
  </article>
{% endblock %}
