{% extends '@julkaisut/node/node--teaser.html.twig' %}

{% block node %}
  <article{{attributes.addClass(classes, 'search-result') }} data-article-link-wrapper>
    {% block node__content_wrapper %}
      <div class="search-result__content">
        {% block node__title %}
          <h3{{ title_attributes.addClass('search-result__title') }}>
            <a href="{{ url }}" data-article-link>{{ label }}</a>
          </h3>
        {% endblock %}

        {% if node.book and node.book.depth == 1 %}
          <div class="search-result__date published-date">
            {% block node__date %}
              <p>{% trans %}Published on {{ date }}{% endtrans %}</p>
            {% endblock %}
          </div>

          {{ content|without('search_api_excerpt', 'field_image') }}

          {% if elements['#children'] %}
            <div class="search-result__child">
              {{ elements['#children'].0.content }}
            </div>
          {% endif %}
        {% else %}
          {% if content.search_api_excerpt is not empty %}
            <p>{{ content.search_api_excerpt }}</p>
          {% else %}
            {{ content|without('search_api_excerpt', 'field_image') }}
          {% endif %}
        {% endif %}

        {% if elements['#children']|length > 1 %}
          <button
            id="search-result-accordion-{{ node.id }}"
            class="search-result__accordion-trigger"
            aria-controls="search-result-children-{{ node.id }}"
            aria-label="{% trans %}Keyword in context{% endtrans %}"
            aria-expanded="false"
          >
            {% trans %}Show keyword in context{% endtrans %}

            <i class="hds-icon hds-icon--angle-down hds-icon--size-s" aria-hidden="true"></i>
          </button>
          <section
            id="search-result-children-{{ node.id }}"
            class="search-result__accordion-content"
            aria-labelledby="search-result-accordion-{{ node.id }}"
          >
            <ul class="search-result__children">
              {% for item in elements['#children'] %}
                <li class="search-result__child">
                  {{ item.content }}
                </li>
              {% endfor %}
              </dd>
            </ul>
          </section>
        {% endif %}
      </div>

      {% if not node.book or node.book.depth == 1 %}
        <div class="search-result__image">
          {{content.field_image}}
        </div>
      {% endif %}
    {% endblock %}
  </article>
{% endblock %}
