{% extends '@julkaisut/node/node.html.twig' %}

{% block node %}
  <article{{attributes.addClass(classes, 'teaser') }} data-article-link-wrapper>
    <a href="{{ url }}" class="teaser__link">
      {# Teaser images are purely decorative #}
      <div aria-hidden="true" class="teaser__image">
        {% if content.field_image[0] is not empty %}
          {{ content.field_image }}
        {% else %}
          <img src="/{{ directory }}/dist/images/placeholder.png" role="presentation">
        {% endif %}
      </div>

      <h3{{ title_attributes.addClass(['teaser__title']) }}>
        {{ label }}
      </h3>

      <div class="teaser__date">
        {% block node__date %}
          {% include '@julkaisut/partials/published-date.html.twig' %}
        {% endblock %}

        {% if type_label %}
          <p class="teaser__label">
            {{ type_label }}
          </p>
        {% endif %}
      </div>

      {{ content|without('field_image') }}

      <div class="teaser__arrow">
        <span class="hds-icon hds-icon--arrow-right hds-icon--size-l" aria-hidden="true"></span>
      </div>
    </a>
  </article>
{% endblock %}
