{% extends '@julkaisut/node/node.html.twig' %}

{% block node__content_wrapper %}
  <div class="node__title is-container">
    {{ drupal_block('page_title_block', {'label_display': false}) }}
  </div>

  <div class="is-container node__metadata">
    {{ content.field_copyright }}

    <div class="node__meta">
      {{ content.field_tags }}

      {{ content.field_pdf }}

      {% include '@julkaisut/partials/print-button.html.twig' %}

      {% include '@julkaisut/partials/share-links.html.twig' with {
        url: url_absolute.toString(),
        title: node.title(),
      } %}

      {{ translation_links }}
    </div>
  </div>

  <div class="node__content">
    {{ content|without('field_tags', 'field_pdf', 'field_image', 'book_navigation') }}
  </div>

  <div class="node__featured-image">
    {% include '@julkaisut/partials/featured-image.html.twig' %}
  </div>

  {{ content.book_navigation }}
{% endblock %}
