{% extends '@julkaisut/taxonomy-term/taxonomy-term.html.twig' %}

{% block term %}
  <div{{ attributes.addClass('teaser teaser-taxonomy') }} data-article-link-wrapper>
    <a href="{{ url }}" class="teaser__link">
      <div aria-hidden="true" class="teaser__image">
        {% if content.field_image[0] is not empty %}
          {{ content.field_image }}
        {% else %}
          <img src="/{{ directory }}/dist/images/placeholder.png" role="presentation">
        {% endif %}
      </div>

      {{ title_prefix }}
      <h3 class="teaser__title card_title">
        {{ name }}
      </h3>
      {{ title_suffix }}

      {{ content|without('field_image') }}

      <div class="teaser__arrow">
        <span class="hds-icon hds-icon--arrow-right hds-icon--size-l" aria-hidden="true"></span>
      </div>
    </a>
  </div>
{% endblock %}
