{% extends '@julkaisut/node/node.html.twig' %}

{% block node__content_wrapper %}
  <div class="is-container">
    {{ content.field_copyright }}

    <div class="node__meta">
      {{ content.field_tags }}

      {{ content.field_pdf }}

      {% include '@julkaisut/partials/print-button.html.twig' %}

      {% include '@julkaisut/partials/share-links.html.twig' with {
        url: url_absolute.toString(),
        title: node.title(),
      } %}

      {{ translation_links }}
    </div>
  </div>

  {{ content.body }}

  {% if content.field_image is not empty %}
    <div class="wp-block-image is-style-koros-basic-top">
      {{ content.field_image }}
    </div>
  {% endif %}

  <div class="is-container">
    {{ content|without('body', 'field_tags', 'field_pdf', 'field_image') }}
  </div>
{% endblock %}
