{% extends '@julkaisut/node/node.html.twig' %}

{% block node %}
  <article{{attributes.addClass(classes) }}>
    {{ content.field_image }}

    <div class="node__published">
      <p>{% trans %}Published on {{ date }}{% endtrans %}</p>
    </div>

    <h3{{ title_attributes.addClass('node__title') }}>
      <a href="{{ url }}" data-article-link>{{ label }}</a>
    </h3>

    {{ content|without('field_image') }}
  </article>
{% endblock %}
