{% extends '@julkaisut/node/node.html.twig' %}

{% block node %}
  <article{{attributes.addClass(classes).addClass('node--book-depth-'~node.book.depth) }}>
    {{ title_prefix }}

    {% block node__content_wrapper %}
      <div class="is-container published-date node__published">
        <p>{% trans %}Published on {{ date }}{% endtrans %}</p>
      </div>

      <div class="is-container node__metadata">
        {{ content.field_copyright }}

        <div class="node__meta">
          {{ content.field_tags }}

          {{ content.field_pdf }}

          {% include '@julkaisut/partials/share-links.html.twig' with {
            url: url_absolute.toString(),
            title: node.title(),
          } %}

          {{ translation_links }}
        </div>
      </div>

      <div class="node__featured-image">
        {% include '@julkaisut/partials/featured-image.html.twig' %}
      </div>

      <div class="node__book-outline is-container">
        {{ drupal_block('custom_book_navigation', {
          'max_levels': 0,
          'block_mode': '',
          'always_expand': true,
          'target_book': node.book.bid
        }) }}
      </div>

      <div class="node__content">
        {{ content|without('field_copyright', 'field_tags', 'field_pdf', 'field_image') }}
      </div>
    {% endblock %}
  </article>
{% endblock %}
