{% extends '@julkaisut/node/node.html.twig' %}

{% block node__content_wrapper %}
  <div class="is-container published-date">
    <p>{% trans %}Published on {{ date }}{% endtrans %}</p>
  </div>

  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {{ content.body }}
  </div>

  <div class="is-container">
    {{ content.field_copyright }}

    <div class="node__meta">
      {{ content.field_tags }}

      {{ content.field_pdf }}

      {% include '@julkaisut/partials/share-links.html.twig' with {
        url: url_absolute.toString(),
        title: node.title(),
      } %}

      {{ translation_links }}
    </div>
  </div>

  {% include '@julkaisut/partials/featured-image.html.twig' %}

  <div class="is-container">
    {{ content|without('body', 'field_tags', 'field_pdf', 'field_image') }}
  </div>
{% endblock %}
