{#
/**
 * @file
 * Default theme implementation to display a book tree.
 *
 * Returns HTML for a wrapper for a book sub-tree.
 *
 * Available variables:
 * - items: A nested list of book items. Each book item contains:
 *   - attributes: HTML attributes for the book item.
 *   - below: The book item child items.
 *   - title: The book link title.
 *   - url: The book link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     book tree.
 *   - is_collapsed: TRUE if the link has children within the current book tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as book_tree %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ book_tree.book_links(items, attributes, 0, is_expanded) }}

{% macro book_links(items, attributes, menu_level, is_expanded, parent) %}
  {% import _self as book_tree %}
  {% if items %}
    {% if menu_level == 0 %}
      <button
        class="book-tree__trigger"
        aria-controls="book-tree"
        aria-label="{% trans %}Show Table of Contents{% endtrans %}"
        aria-expanded="{{ is_expanded ? 'true' : 'false' }}"
        data-toggle-label="{% trans %}Close Table of Contents{% endtrans %}"
      >
        <span>{{ 'Table of Contents' | t }}</span>
        <i class="hds-icon hds-icon--menu-hamburger hds-icon--size-s" role="presentation"></i>
      </button>
      <ul{{ attributes
        .addClass('book-tree')
        .addClass(is_expanded ? 'is-active')
        .setAttribute('role', 'menubar')
        .setAttribute('id', 'book-tree')
      }}>
    {% else %}
      <ul
        class="book-tree__submenu {{ is_expanded ? 'is-active' }}"
        {% if parent %}
          id="submenu-{{ parent.title|clean_class }}"
          aria-label="{{ parent.title }}"
        {% endif %}
        role="menu"
      >
    {% endif %}

    {% for item in items %}
      <li{{
        item.attributes
          .addClass('book-tree__item')
          .addClass(item.below ? 'has-children' : '')
          .setAttribute('role', 'menuitem')
      }}>
        {% if item.url %}
          {{ link(item.title, item.url, { 'class': [
              'book-tree__link',
              item.in_active_trail ? 'is-active-trail',
              item.in_active_trail and not item.below ? 'is-active',
          ] }) }}
        {% else %}
          <span class="book-tree__link {{ item.in_active_trail ? 'is-active-trail' }}" tabindex="-1">
            {{ item.title }}
          </span>
        {% endif %}

        {% if item.below %}
          <button
            class="book-tree__submenu-trigger"
            aria-expanded="{{ item.in_active_trail ? 'true' : 'false' }}"
            aria-controls="submenu-{{ item.title | clean_class }}"
            aria-label="{% trans %}Open {{ item.title }} submenu{% endtrans %}"
            data-submenu-trigger
            data-toggle-label="{% trans %}Close {{ item.title }} submenu{% endtrans %}"
            data-close-icon="hds-icon hds-icon--minus hds-icon--size-s"
            id="submenu-trigger-{{ item.title| clean_class }}"
          >
            <i class="hds-icon hds-icon--plus hds-icon--size-s" role="presentation"></i>
          </button>
          {{ book_tree.book_links(item.below, attributes, menu_level + 1, item.in_active_trail, item) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
