{% extends '@julkaisut/taxonomy-term/taxonomy-term.html.twig' %}

{% block term__content_wrapper %}
  <div class="is-container">
    <div class="published-date">
      <p>{% trans %}Published on {{ date }}{% endtrans %}</p>
    </div>
  </div>

  {{ content|without('field_published', 'field_copyright', 'field_tags', 'field_pdf', 'field_image') }}

  <div class="is-container">
    {{ content.field_copyright }}

    <div class="node__meta">
      {{ content.field_tags }}

      {{ content.field_pdf }}

      {% include '@julkaisut/partials/share-links.html.twig' with {
        url: url_absolute.toString(),
        title: node.title(),
      } %}

      {{ translation_links }}
    </div>
  </div>
{% endblock %}
